# IDE Configurations
.idea/

# Python Cache Files
__pycache__/

# Twitter API Secrets
twitter_secrets.json

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless